build/bin
node_modules
frontend/dist

# Go-related files
/go.mod
/go.sum
/bin/
/pkg/
*.exe
*.out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo