build/bin
node_modules
frontend/dist

# Go-related files
/go.mod
/go.sum
/bin/
/pkg/
*.exe
*.out

# Wails build artifacts
/build/
/wails-build/

# Node.js dependencies
/node_modules/
/dist/
/.yarn/
/.pnp.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo

# Wails settings
/wails.json
